services:
  db:
    image: postgres:16
    container_name: sql_analytics_lab_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: analytics
    ports:
      - "5432:5432"
    volumes:
      - ./schema.sql:/docker-entrypoint-initdb.d/01_schema.sql
      - ./load_seed.sql:/docker-entrypoint-initdb.d/02_load_seed.sql
      - ./seed:/seed
